.bookingContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        'form tables'
        'form reservations';
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.form {
    display: flex;
    grid-area: form;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.submitButtomDiv {
    width: 100%;
}
.submitButtomDiv button {
    width: 379px;
    height: 50px;
    border-radius: 16px;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shortInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

input {
    height: 35px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    background-color: #EDEFEE;
    border: none;
    padding-left: 12px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border: 2px solid #495E57;
  }

select {
    box-sizing: border-box;
    border: none;
    background-color: #EDEFEE;
    border-color: #EDEFEE;
    border-radius: 8px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 35px;
    padding-left: 12px;
}

select:focus {
    outline: none;
    border: 2px solid #495E57;
}

input[type="number"] {
    box-sizing: border-box;
    border: none;
    background-color: #EDEFEE;
    border-color: #EDEFEE;
    border-radius: 8px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 35px;
    padding-left: 12px;
}

input:focus[type="number"] {
    outline: none;
    border: 2px solid #495E57;
  }

.datePicker {
    box-sizing: border-box;
    width: 100%;
}

.custom-calendar {
    font-family: 'Karla', sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}

.custom-calendar .react-datepicker__header {
    background-color: white;
    border-bottom: none;
    padding-bottom: 2px;
}

.custom-calendar .react-datepicker__navigation {
    background-color: white;
    border-radius: 50%;
    margin: 0 15px 0 15px;
}

.custom-calendar .react-datepicker__navigation:hover {
    background-color: #EDEFEE;
}

.custom-calendar .react-datepicker__current-month {
    font-weight: 500 !important;
    font-size: 18px !important;
    color: #333333;
}

.custom-calendar .react-datepicker__day-names {
    display: inline-block;
    border-bottom: 1px solid #EDEFEE;
}

.custom-calendar .react-datepicker__day-name {
    width: 40px;
    padding-top: 5px;
    margin: 1.5px;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #828282;
}

.custom-calendar .react-datepicker__week {
    margin: 0 15px 0 15px;
}

.custom-calendar .react-datepicker__day {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 1.5px;
    border-radius: 50%;
}

.custom-calendar .react-datepicker__day:hover {
    background-color: #F4CE14;
    border-radius: 50%;
}

.custom-calendar .react-datepicker__day--selected {
    background-color: #495E57;
}

.random {
    color: #BDBDBD !important;
}


.tables {
    grid-area: tables;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    padding: 0px 20px;
}

.tables button {
    background-color: #EDEFEE;
    height: 48px;
    width: 78px;
    border-radius: 8px;
    margin: 3px;
    font-size: 16px;
    color: #495E57;
}

.tables button:disabled {
    background-color: #EDEFEE;
}

.cardTables {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    margin: 5px;
    padding: 3px 5px;
    border: 1px solid #333333;
    border-radius: 8px;
    border-color:#EDEFEE;
}

#cardTablesContent {
    color: #495E57;
    font-weight: 400;
    font-size: 14px;
}


.reservations {
    grid-area: reservations;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    padding: 0px 20px;
}

.reservations button {
    background-color: #EDEFEE;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 3px;
    font-size: 16px;
    font-weight: 500;
    color: #495E57;
}

.reservations button:hover {
    background-color: #EE9972;
    color: #333333;
}

#tableTittle h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0px 20px;
}

#tableSubTittle {
    padding: 0px 20px;
    margin-top: -20px;
    margin-bottom: 20px;
}

#tableSubTittle h5 {
    font-weight: 500;
    font-size: 14px;
}

#formTittle h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.error {
    color: red;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}

#confirmationContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #495E57;
    width: fit-content;
    border-radius: 8px;
    padding: 0px 10px 10px 10px;
}

#confirmationMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#confirmationHeader h3 {
    font-family: 'Markazi Text', serif;
    font-weight: 400;
    font-size: 30px;
    color: #EDEFEE;
    margin: 5px 5px 10px 5px;
    
}

#confirmedCard {
    display: block;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    margin: 5px;
    padding: 3px 5px;
    border-radius: 8px;
    color: #EDEFEE;
}

#confirmedCard h2 {
    font-weight: 700;
    font-size: 18px;
}

#confirmedCard h5 {
    font-weight: 500;
    font-size: 16px;
}

#confirmedInformation {
    display: block;
    border-radius: 8px;
    margin: 5px;
    padding: 3px 5px;
    color: #EDEFEE;
    margin-bottom: 10px;
}

#confirmedInformation h2 {
    font-weight: 700;
    font-size: 18px;
}

#confirmedInformation h5 {
    font-weight: 500;
    font-size: 16px;
}

.alert {
    color: #333333 !important;
    border: 0px;
    border-radius: 16px;
}

#buttonConfirmation {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

#buttonConfirmation button {
    width: 200px;
    border-radius: 16px;
    margin: 5px 5px;
    height: 50px;
    cursor: pointer;
  }

#cancelReservation {
    background-color: #EE9972;
    color: #333333;
}

#cancelReservation:hover {
    background-color: #e7956f;
}

#cancelReservation:active {
    background-color: #db8c68;
}